<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Fonts  -->
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&family=Raleway:ital,wght@0,400;0,500;0,900;1,900&display=swap" rel="stylesheet">

  <!-- Internal stylesheet. Link must stay above Bootstrap. -->
    <link rel="stylesheet" href="/styles/contributions.css" type="text/css">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <title>Contributions Page</title>
  </head>


  <body >

    <header id=#headerbar>
      <!-- < include('partials/_header') > -->

           <nav class="navbar navbar-expand-lg navbar-light bg-light">
             <a class="navbar-brand" href="/story">
               <img src='https://www.livingmags.info/wp-content/uploads/final-insp-in-iso-03-1.png' width="60" height="60"> Ten Word Tale
             </a>
             <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="/creator">Start a Story</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" href="/stories">Contribute to a Story</a>
                 </li>
                 </ul>
             </div>
             <div class="logout-phrase">
              <h5>Welcome back, Brontë3! </h5>
              <form method="GET" action="/logout"><button class="btn btn-warning" value='delete'>Logout</button>
              </form>
              </div>
           </nav>
    </header>



    <main>
      <div class="page-head">
      <h3>Contributions for:  </h3>
      <br>
      <h1><%= data[0]['title']%></h1>
      <br>
      </div>

        <% for (let contribution of data) { %>
          <% if ( SignedInUser === contribution.creator_id) { %>
          <div class="contributions-box">

            <article>

              <header>
                <h5><%=contribution.name %> suggests:  </h5>
                <p>📖 <%= contribution['likes']%> likes</p>
              </header>

              <h4 style="font-style: italic;"><%= contribution.content %></h4>
              <br>

              <footer>
                <!-- <p><%= contribution.created_at %></p> -->
            <!-- LIKE button for when user.publish_date IS NULL -->
                  <form method="POST" action="/stories/<%=contribution['story_id'] %>/contributions/<%= contribution['contribution_id'] %>">

                    <div class="form-group row">
                      <div class="col-sm-8">
                        <button type="submit" class="btn btn-success ">ADD to STORY</button>
                      </div>
                    </div>

                  </form>
                  <form method="POST" action="/stories/<%=contribution['story_id'] %>/contributions/<%= contribution['contribution_id']%>/delete">

                    <div class="form-group row" id="buttons">
                        <div class="col-sm-8">
                          <button type="submit" class="btn btn-danger ">DELETE</button>
                        </div>
                    </div>

                  </form>
                </footer>
            </article>
          </div>
          <br>
          <br>

        <%} else {%>
          <div class="contributions-box">
        <!-- AN Apr8 - Accepted INCOMING and CURRENT changes here -->
            <article>
              <header>
                <h5><%=contribution.name %> suggests: </h5>
                <p>📖 <%= contribution['likes']%> likes </p>
              </header>

    <!-- <article class="contributions-box;"  style="width: 60em;border: 5px solid black">
            <header>
              <h5><%=contribution.name %> suggests: </h5>
              <p>📖 .....likes:<%= contribution['likes']%></p>
            </header> -->

            <h4><%= contribution.content %></h4>
            <br>

            <footer>
              <p><%= contribution.created_at %></p>
        <!-- LIKE button for when user.publish_date IS NULL -->
             <form type="submit" method="POST" action="/stories/<%=contribution['story_id']%>/contributions/<%=contribution['contribution_id']%>/likes">
              <button class="btn btn-block btn-primary" style="width:5em;">LIKE </button>
              </div>
            </form>
            </footer>
            </article>
          </div>
          <br>
          <br>
        <%}%>
      <% } %>



    </main>
  </body>
  <%- include('partials/_footer') %>
</html>







