<!-- Adele - Stories Take 2. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/stories.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <title>Stories Main Page</title>
</head>
  <body>

    <header>
 <!-- < include('partials/_header') > -->

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/story">
          <img src='https://st2.depositphotos.com/3969727/9550/v/950/depositphotos_95503166-stock-illustration-pen-feather-icon.jpg' width="50" height="50"> Ten Word Tale
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Start a Story</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contribute to a Story</a>
            </li>
            </ul>
        </div>
        <p>
          <a href="/login">
            <button class="btn btn-secondary" value='delete'>Login
            </button>
          </a>
          <a href="/register">
            <button class="btn btn-secondary" value='delete'>Register
            </button>
          </a>
        </p>
      </nav>

<!-- header bar ends here -->
    <main style="margin:1em;" >
      <h3>Check out a story!</h3>
      <h6> 📖 in progress. 📕 published!</h6>
        <br>
        <br>
   <% for (let story of StoriesDB) { %>
    <% if (story.publish_date === null) { %>
      <article class="story-box">
        <header>
          <h5><%=story.title%></h5>
          <!-- "In process" will change as an if statement when "published" -->
          <p>In process 📖 </p>
        </header>
        <p><%=story.description%></p>
        <footer>
          <p><%=story.created_at%></p>
           <p>by <%=story.name%></p>
        </footer>
      </article>

      <br>
      <br>
    <% } else { %>
      <article class="story-box">
        <header>
          <h5><%=story.title%></h5>
          <!-- "In process" will change as an if statement when "published" -->
          <p>Completed 📕 </p>
        </header>
        <p ><%=story.description%></p>
        <footer>
          <p><%=story.created_at%>....................by <%=story.name%></p>
          <p>by <%=story.name%></p>
        </footer>
      </article>

      <br>
      <br>
    <% } %>
  <% } %>

    </main>

    <!-- <- include('partials/_footer') > -->

    </main>
       <!-- - include('partials_footer')  -->
  </body>
  <%- include('partials/_footer') %>
</html>


<script>
  $( document ).ready(function() {
    $( ".story-box" ).click(function() {
      let url= `/stories/1`
      window.location.replace(url)
   });
});

</script>
